.card-body {
  padding: 3rem 2rem; /* Adjust the padding as needed */
}

.form-outline {
  background-color: transparent; /* Make background transparent */
  border: 2px solid white; /* Add a white border */
  border-radius: 0.5rem; /* Add border radius */
  margin-bottom: 1.5rem; /* Add some spacing between inputs */
}

.form-outline input {
  color: white; /* Set text color */
}

.form-outline input::placeholder {
  color: rgba(255, 255, 255, 0.5); /* Set placeholder text color with opacity */
}

.form-label {
    background-color: rgba(51, 45, 45);
}
.login-button {
    /* Default styles for the button */
    cursor: default;
    pointer-events: none;
}
.add-form {
    display: none; /* Initially hide the add forms */
}
.actions-cell {
    display: flex;
    gap: 5px;
}